<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".EnterAddressActivity"
            android:exported="false" />
        <activity
            android:name=".AddressDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryAddressActivity"
            android:exported="false" />
        <activity
            android:name=".AddressShopActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingUserActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePwdActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".CouponActivity"
            android:exported="false" />
        <activity
            android:name=".AdvantageActivity"
            android:exported="false" />
        <activity
            android:name=".SupportActivity"
            android:exported="false" />
        <activity
            android:name=".PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".PromotionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmOTPActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassOTPActivity"
            android:exported="false" />
        <activity android:name=".AddressActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>